<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897411159673-sggpepnphomsn4d46ng4kl9mtcspd1rv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897411159673-sggpepnphomsn4d46ng4kl9mtcspd1rv</string>
	<key>API_KEY</key>
	<string>AIzaSyDZI30lD4-Bd6dWLmzPLuKJ4wcIGwEdIDk</string>
	<key>GCM_SENDER_ID</key>
	<string>897411159673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ulessonAuthFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-1d58c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-1d58c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897411159673:ios:6d7a1692623cd48f5d26a8</string>
</dict>
</plist>